*,
*::before,
*::after {
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-display: swap;
    transition: all 300ms;
}

*:-moz-focusring {
    outline: none;
}

:focus {
    outline: none;
}

:target {
    animation: target 2s ease-in-out;
}

@keyframes target {
    from { 
        background-color: var(--primary);
        color: var(--text-on-colored);
    }
}

html {
    font-family: "Libre Baskerville", serif;
    font-size: 16px;
    background-color: #111;
    color: #aaa;
    line-height: 2;

    --background: #111;

    --primary-dark: #d9c126;
    --primary: #fd0;
    --primary-light: #e8da7d;

    --accent-green-dark: #98d926;
    --accent-green: #a2ff00;
    --accent-green-light: #c1e87d;

    --accent-orange-dark: #d96826;
    --accent-orange: #ff5e00;
    --accent-orange-light: #e8a47d;

    --text-on-colored: #111;
    --secondary-color: #aaa;
    --text-color: #ddd;
    --heading-color: #fff;

    --link-color: var(--accent-orange-light);

    --heading-font: "Vidaloka", serif;
    --body-font: "Vidaloka", "Libre Baskerville", serif;
    --ui-font: "Inter", sans-serif;
    --code-font: "B612 Mono", monospace;
}

pre, code, var, samp, kbd, output {
    font-family: var(--code-font);
}

h1, h2, h3,
h4, h5, h6 {
    font-family: serif;
    font-family: var(--heading-font);
    font-weight: normal;
    line-height: 1.25;
}

a {
    color: var(--link-color);
    text-decoration: none;
    border-bottom: 1px dashed var(--link-color);
}

a:not([class]):hover {
    opacity: 0.5;
}

.focusable:focus,
a:not([class]):focus {
    background-color: var(--accent-orange-light);
    color: var(--background);
    box-shadow: 0 0 0 3px var(--accent-orange-light);
}

/*
	Improved screen reader only CSS class
	@author Gaël Poupard
		@note Based on Yahoo!'s technique
		@author Thierry Koblentz
		@see https://developer.yahoo.com/blogs/ydn/clip-hidden-content-better-accessibility-53456.html
	* 1.
		@note `clip` is deprecated but works everywhere
		@see https://developer.mozilla.org/en-US/docs/Web/CSS/clip
	* 2.
		@note `clip-path` is the future-proof version, but not very well supported yet
		@see https://developer.mozilla.org/en-US/docs/Web/CSS/clip-path
		@see http://caniuse.com/#search=clip-path
		@author Yvain Liechti
		@see https://twitter.com/ryuran78/status/778943389819604992
	* 3.
		@note preventing text to be condensed
		author J. Renée Beach
		@see https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
		@note Drupal 8 goes with word-wrap: normal instead
		@see https://www.drupal.org/node/2045151
		@see http://cgit.drupalcode.org/drupal/commit/?id=5b847ea
	* 4.
		@note !important is important
		@note Obviously you wanna hide something
		@author Harry Roberts
		@see https://csswizardry.com/2016/05/the-importance-of-important/
*/

.sr-only {
	border: 0 !important;
	clip: rect(1px, 1px, 1px, 1px) !important; /* 1 */
	-webkit-clip-path: inset(50%) !important;
		clip-path: inset(50%) !important;  /* 2 */
	height: 1px !important;
	margin: -1px !important;
	overflow: hidden !important;
	padding: 0 !important;
	position: absolute !important;
	width: 1px !important;
	white-space: nowrap !important;            /* 3 */
}

/*
	Use in conjunction with .sr-only to only display content when it's focused.
	@note Useful for skip links 
	@see http://www.w3.org/TR/2013/NOTE-WCAG20-TECHS-20130905/G1
	@note Based on a HTML5 Boilerplate technique, included in Bootstrap
	@note Fixed a bug with position: static on iOS 10.0.2 + VoiceOver
		@author Sylvain Pigeard
		@see https://github.com/twbs/bootstrap/issues/20732
*/
.sr-only-focusable:focus,
.sr-only-focusable:active {
	clip: auto !important;
	-webkit-clip-path: none !important;
		clip-path: none !important;
	height: auto !important;
	margin: auto !important;
	overflow: visible !important;
	width: auto !important;
	white-space: normal !important;
}


a.skiplink {
    position: absolute;
    top: 1rem;
    left: 1rem;
}


a:not([class]):hover {
    opacity: 0.75;
    border-bottom-style: solid;
}

a:focus {
    box-shadow: 0 0 0 5px var(--accent-blue);
}

img {
    max-width: 100%;
}

address {
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;
    display: flow-root;

    border: 1rem solid var(--primary);
}

.archive-title {
	font-family: var(--ui-font);
	font-weight: 900;
	font-size: 4rem;
	color: var(--heading-color);
    margin: 1rem;
}

.hashtag {
    color: var(--heading-color);
    -webkit-text-fill-color: transparent;
    background: linear-gradient(to bottom right, var(--accent-green-dark), var(--accent-green-light)) repeat;
    -webkit-background-clip: text;
}

.hashtag.category-title.resources {
	color: var(--heading-color);
	-webkit-text-fill-color: transparent;
	background: linear-gradient(to bottom right, var(--accent-orange-dark), var(--accent-orange-light)) repeat;
	-webkit-background-clip: text;
}

.page {
    margin: 1rem;
}

.page .page-content p {
    padding-left: 0;
}

.notification {
    font-family: var(--ui-font);

    border: 1px solid var(--primary-light);
    padding: 1rem;
    background-color: var(--primary-dark);
    color: var(--text-on-colored);
    border-radius: 3px;
}

.notification__title {
    font-family: var(--ui-font);
    font-weight: 900;
    letter-spacing: 1px;
    margin: 0;
}

.page .notification > p {
    margin: 1rem auto;
}

.notification a {
    color: var(--text-on-colored);
    border-bottom-color: currentColor;
}

.numerical-value {
    font-family: var(--ui-font);
}

.page-content ol,
.page-content ul {
    font-size: 1.2rem;
    padding-bottom: 2rem;
    width: 90%;
    margin-left: auto;
}

.page-content li:not(:last-child) {
    padding-bottom: 2rem;
}