*,
*::before,
*::after {
	box-sizing: border-box;
}

html {
	font-family: "Inter", sans-serif;
	font-size: 12pt;

	--background: #111;

	--primary-dark: #d9c126;
	--primary: #fd0;
	--primary-light: #e8da7d;

	--accent-blue-dark: #002033;
	--accent-blue: #044063;
	--accent-blue-light: #065f93;

	--accent-crimson-dark: #e50053;
	--accent-crimson: #ff005c;
	--accent-crimson-light: #ff73a5;

	--text-on-colored: #111;
	--secondary-color: #aaa;
	--text-color: #eee;
	--heading-color: #fff;

	--link-color: var(--accent-crimson-light);

	--heading-font: "Inter", sans-serif;
	--body-font: "Inter", sans-serif;
	--ui-font: "Inter", sans-serif;
	--code-font: "Inconsolata", monospace;
}

pre,
code,
var,
samp,
kbd,
output {
	font-family: var(--code-font);
}

abbr {
	text-decoration: none;
	border: none;
}

abbr[title]::after {
	content: " (" attr(title) ")";
}

.page-content > h1,
.page-content > h2,
.page-content > h3,
.page-content > h4,
.page-content > h5,
.page-content > h6,
.post__content > h1,
.post__content > h2,
.post__content > h3,
.post__content > h4,
.post__content > h5,
.post__content > h6 {
	line-height: 1.25;
	/* margin-left: 20%; */
	border-left: 20vw solid #fd0a;
	padding-left: 16pt;
}

a {
	color: #000;
	text-decoration: none;
}

/* Hide everything we don't need */
.banner,
.article-footer,
iframe.youtube-frame,
.footer a {
	display: none;
}

body::before {
	content: "";
	top: 0;
	display: block;
	width: 30%;
	margin-left: 8pt;
	border-top: 16pt solid #fd0;
}

header .post__title {
	font-size: 32pt;
	font-weight: 900;
	color: #000;
	orphans: 0;
}

.post__title::after {
	content: " ↗ https://celestialcinnamon.github.io" attr(href);
	font-size: 12pt;
	display: block;
	font-weight: normal;
	opacity: 0.5;
}

.post--article header > h1 {
	margin-left: 0;
	border: 0;
	padding: 0;
}
.page-content > dl,
.page-content > ol,
.page-content > ul,
.page-content > p,
.post__content > dl,
.post__content > ol,
.post__content > ul,
.post__content > p {
	margin-left: 20%;
	line-height: 2;
}

.page-content p,
.post__content p {
	text-indent: 24pt;
}

.page-content > dl dt,
.post__content > dl dt {
	font-weight: bold;
}

.page-content li + li .post__content li + li {
	margin-top: 12pt;
}

.page-contet > p:first-of-type,
.post__content > p:first-of-type {
	font-size: 15pt;
	font-weight: 200;
	margin: auto;
}

.footer {
	border-top: 1px solid currentColor;
}

.footer div {
	display: flex;
}

.footer div p:last-child {
	margin-left: auto;
}

.footer::after {
	content: " ↗ bit.ly/antaresprogramming";
	color: #55f;
}

q::before {
	content: "“";
}

q::after {
	content: "”";
}

.page-content > blockquote:not([class]),
.post__content > blockquote:not([class]) {
	padding: 24pt;
}

.page-content > blockquote:not([class]) p,
.post__content > blockquote:not([class]) p {
	font-size: 16pt;
	line-height: 1.2;
	font-weight: 200;
	text-align: center;
	margin: auto;
}

.page-content > blockquote p:first-of-type::before,
.page-content > blockquote p:first-of-type::after,
.post__content > blockquote p:first-of-type::before,
.post__content > blockquote p:first-of-type::after {
	content: "";
	display: block;
	border-top: 1pt solid #000;
	width: 50%;
	margin: auto;
	margin-bottom: 24pt;
}

.page-content > blockquote p:first-of-type::after,
.post__content > blockquote p:first-of-type::after {
	margin-top: 24pt;
	margin-bottom: 0;
}

.page-content > blockquote .citation,
.post__content > blockquote .citation {
	text-align: center;
	display: block;
	margin-top: 12pt;
}

.page-content > blockquote .citation::before,
.post__content > blockquote .citation::before {
	content: "―";
}

table {
	border-collapse: collapse;
	width: 100%;
}

th {
	font-size: 16pt;
}

th,
td {
	border: 1pt solid;
	padding: 8pt 12pt;
}

td img {
	max-width: 100%;
}

a:not([class])[href^='https://']::after {
	content: " ↗ " attr(href);
	color: #55f;
}

.img-wrapper {
	text-align: center;
	display: inline;
}

.img-wrapper img {
	display: block;
	margin: auto;
	max-width: 100%;
	box-shadow: 2px 2px 15px #0005;
}

.img-wrapper figcaption {
	width: 50%;
	margin: auto;
	margin-top: 12pt;
	opacity: 0.5;
}

.side-callout,
.side-note {
	border: 1pt solid #fd0a;
	border-left: 12pt solid #fd0a;
	margin-left: 20%;
	padding: 12pt;
}

.side-callout > p,
.side-note > p {
	margin: auto;
}

.side-note dt {
	font-weight: bold;
	font-size: 24pt;
}

dd,
.side-note dd {
	margin-top: 12pt;
	line-height: 1.5;
	box-decoration-break: clone;
}

pre[class*="language-"] {
	white-space: pre-wrap !important;
}

code[class*="language-"] {
	color: #000 !important;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
	color: hsl(54, 32%, 35%) !important;
}

.token.punctuation {
	color: hsl(0, 0%, 30%) !important;
}

.token.property,
.token.tag,
.token.constant,
.token.symbol,
.token.deleted {
	color: hsl(17, 100%, 34%) !important;
}

.token.boolean,
.token.number {
	color: hsl(180, 100%, 34%) !important;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
	color: hsl(80, 75%, 25%) !important;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.variable {
	color: hsl(187, 100%, 44%) !important;
}

.token.atrule,
.token.attr-value,
.token.function {
	color: hsl(32, 100%, 40%) !important;
}

.token.keyword {
	color: hsl(180, 100%, 34%) !important;
}

.token.regex,
.token.important {
	color: hsl(51, 100%, 30%) !important;
}

video {
	display: none;
}

video ~ figcaption::before {
	width: calc(150pt * (16 / 9));
	border: 1px solid;
	padding-bottom: 30%;
	margin: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	align-content: center;
}

video ~ figcaption:lang(en)::before {
	content: "Watch this video online: " attr(data-video);
}

video ~ figcaption:lang(tl)::before {
	content: "Panoorin ang video na ito online: " attr(data-video);
}
