<footer class="layout layout--footer" role="contentinfo">
  <div class="footer__division">
  <a href="<%- config.root + theme.menu.About %>">Tungkol sa Antares Programming</a>
  <a href="https://www.facebook.com/antaresprogramming"><i>Antares Programming</i> sa Facebook</a>
  <a href="#">Back to top</a>
  </div>
  <div class="footer__division text-align--right">
    <p>&copy; 2019 Antares Programming</p>
    <p>Reserbado ang lahat ng karapatan.</p>
  </div>
</footer>
<script>
    var CONFIG_ROOT = `<%- config.root %>`;
    var CONFIG_URL = `<%- config.url %>`.replace('/antares-blog', '');
</script>