<footer class="footer" role="contentinfo">
  <div>
    <p>&copy; 2019 Housse of Antares</p>
    <p>Reserbado ang lahat ng karapatan.</p>
  </div>
  <div><a href="#!">Tungkol sa Antares Programming</a>
  <a href="https://www.facebook.com/antaresprogramming"><i>Antares Programming</i> sa Facebook</a>
  <p id="back-to-top"><a href="#top">Back to top</a></p></div>
</footer>
<script>
    var CONFIG_ROOT = `<%- config.root %>`;
    var CONFIG_URL = `<%- config.url %>`.replace('/antares-blog', '');
</script>