<div class="banner">
  <a href="#main-content" class="navigation__link skiplink sr-only sr-only-focusable">Skip to content</a>
  <header class="banner__header" role="banner">
    <a href="<%- config.root %>" class="site-logo" aria-label="Go to home">
      <svg style="transform: scale(2)" width="64" height="64" viewBox="-500 -500 2040 2040" fill="none" xmlns="http://www.w3.org/2000/svg">
        <style>
          * {
            transition: all 300ms;
          }

          #logo-ellipse {
            transform-origin: center;
            transform: scale(2) translate(10%, 13%);
            opacity: 0;
          }

          #logo-path {
            fill: #fd0;
          }

          a:focus #logo-ellipse,
          svg:hover #logo-ellipse {
            transform: none;
            opacity: 1;
          }

          a:focus #logo-path,
          svg:hover #logo-path {
            fill: black;
          }
        </style>
        <ellipse id="logo-ellipse" cx="512.5" cy="464" rx="397.5" ry="401" fill="#FFDD00" />
        
        <path id="logo-path"
          d="M293.333 144.667C227.2 153.867 169.467 182.133 124 227.867C73.2 278.933 42.1333 344.8 31.7333 424C29.6 440.4 29.6 494.266 31.7333 510.666C37.3333 553.466 48.8 591.2 66.8 626.666C112.533 716.933 194.933 775.733 293.733 788.666C313.867 791.2 351.333 791.2 370.933 788.666C428.533 781.066 481.466 755.866 523.066 716C530 709.466 536 704 536.533 704C536.933 704 537.333 719.6 537.333 738.666V773.333H746.666V160H534.666V217.733L530.8 214.533C528.666 212.8 522.8 207.867 517.866 203.6C482 173.067 433.066 152.4 379.867 145.333C356.133 142.133 313.733 141.867 293.333 144.667V144.667ZM433.467 327.067C464.4 335.2 489.6 351.2 508.533 374.8C552.266 429.6 549.6 515.733 502.666 567.066C452.266 622.266 353.2 625.466 297.333 573.866C277.867 555.733 264.8 531.866 257.067 500C256 495.2 255.333 484 255.333 467.333C255.333 445.867 255.867 440.267 258.267 430.667C270.933 381.067 306 343.6 353.467 329.2C370.533 324 380.933 322.667 401.333 323.2C416.533 323.6 423.467 324.4 433.467 327.067V327.067ZM689.6 522.266C698.666 526.266 708.133 535.866 712.4 545.066C716.8 554.666 716.533 571.466 711.866 581.466C699.466 607.866 665.466 616.266 643.066 598.533C631.466 589.2 624.133 572.133 626 558.266C630 527.2 661.066 509.733 689.6 522.266V522.266ZM678.666 632C700.933 636.266 716 652.133 716 671.333C715.866 690.933 700 712.8 670.933 733.333C664.133 738.133 658.133 742.133 657.6 742.266C657.066 742.533 656.666 736.266 656.666 728.266C656.533 715.6 656.133 713.066 652.933 706.266C647.733 694.933 640 686.4 625.866 676.533C612.666 667.333 608.533 662.8 607.2 656.133C605.2 646.4 624.4 636.4 652 632.666C668.266 630.4 670.266 630.4 678.666 632Z"
          fill="black" />
      </svg>
    </a>
  </header>
  <nav class="banner__navigation">
    <ul class="navigation-list">
      <li class="navigation__item"><a class="navigation__link" href="<%- config.root + theme.menu.Archives %>">Archives</a></li>
      <li class="navigation__item"><a class="navigation__link" href="<%- config.root + theme.menu.Downloads %>">Downloads</a></li>
    </ul>
  </nav>
</div>