<div class="banner">
  <a href="#main-content" class="nav skiplink sr-only sr-only-focusable">Skip to content</a>
  <header class="header" role="banner">
    <a href="<%- config.root %>" class="site-logo" aria-label="Go to home">
      <img src="<%- config.root %>images/logo_v4.png" alt="Antares Programming logo">
    </a>
  </header>
  <nav class="navbar">
    <ul class="nav-list">
      <li class="nav-item"><a class="nav" href="<%- config.root + theme.menu.Archives %>">Archives</a></li>
      <li class="nav-item"><a class="nav" href="#!">Downloads</a></li>
    </ul>
  </nav>
</div>
