<% if (site.categories.length){ %>
  <section class="widget">
    <h3 class="widget__title"><%= __('categories') %></h3>
    <div class="widget__component">
      <%- list_categories({show_count: theme.show_count}) %>
    </div>
  </div>
<% } %>
