html {
  font-size: 16px;
  line-height: 1.5;
  --nav-bg: #fff;
  --nav-border: #eee;
  --elevation: 0 1px 5px #ddd6;
  --elevation-2: 0 5px 10px #0003;
  --text: #333;
  --nav-text: #eee;
  --header-bg: #eee;
  --header-bg-dark: #ddd;
  --header-bg-light: #f8f8f8;
  --card-bg: #fafafa;
  --card-bg-dark: #eee;
  --footer: var(--nav-bg);
  --primary: #faa;
  --primary-dark: #f99;
  --primary-text: #FF5555;
  --accent: #fca;
  --body-bg: #fff;
  --cover-bg: #e9eaef;
  --cover-bg--hover: hsl(230, 16%, 83%);
  --footer-bg: #333;
}

body {
  background-color: #fff;
  background-color: var(--body-bg);
  height: 100%;
  height: 100vh;
  color: var(--text);
  margin-bottom: 170px;
  font-family: 'Montserrat', sans-serif;
}

.cover {
  min-height: 200px;
  height: 25vh;
  background-color: var(--cover-bg);
  background-image: url(../images/cover.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
}

.cover__header {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0.5rem;
}

.cover__logo {
  width: 25%;
  padding-right: 1ch;
}

.cover__title {
  font-weight: normal;
}

.expand {
  flex: 1;
}

.cover__link img {
  width: 1rem;
}

.nav {
  display: flex;
}

.nav-item {
  flex:1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  background-color: var(--cover-bg);
  transition: background-color 300ms;
}

.nav-item:hover {
  background-color: var(--cover-bg--hover);
  transition: background-color 300ms;
}

.nav-item svg {
  width: 1rem;
}

.nav-item.search {
  order: 1;
  border: none;
  transition: box-shadow 300ms;
  background-color: var(--cover-bg--hover);
}

.nav-item.search:hover {
  box-shadow: 0 0 0 5px var(--primary);
  transition: box-shadow 300ms;
}

/* index.ejs */

.section {
  padding: 0.5rem;
  max-width: 800px;
  margin: auto;
}

.section__heading {
  padding: 0.5rem;
}

.section--meta {
  height: 100%;
  width: 100%;
}

.post {
  padding: 0.5rem;
}

.post--featured {
  background-color: var(--card-bg);
  border: 1px solid var(--card-bg-dark);
  border-radius: 5px;
  box-shadow: var(--elevation);
}

.post__title {
  font-size: 1.5rem;
  margin: 0;
}

.post__title a {
  text-decoration: none;
  color: var(--primary-text);
}

.post__title a:hover {
  text-decoration: line-through;
}

.flex {
  display: flex;
}

.author {
  margin: 0;
  padding: 1rem;
  padding-left: 2rem;
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-template-rows: repeat(2, min-content);
  grid-gap: 0.5rem;
  gap: 0.5rem;
  grid-template-areas: 
    "image name"
    "image date"
}

.author__image {
  grid-area: image;
  width: 3rem;
  height: 3rem;
  object-fit: cover;
  object-position: center;
  border-radius: 50px;
}

.author__meta {
  grid-area: name;
  display: grid;
}

.author__name {
  font-style: normal;
}

.tag {
  padding: 0.5ch 1ch;
  color: var(--accent);
  background-color: #333;
  margin-right: 1ch;
  border-radius: 50px;
  text-decoration: none;
}

.footer {
  background-color: var(--footer-bg);
  color: var(--body-bg);
  padding: 1rem;
}

.footer p {
  margin: 0;
}

a {
  color: var(--primary-text);
  text-decoration: none;
}

.nav-item--desktop {
  display: none;
}

.sidebar {
  background-color: var(--card-bg);
  padding: 1rem;
}

.sidebar ul {
  padding: 0;
}

.sidebar li {
  list-style: none;
}

.sidebar a {
  padding: 1rem;
  display: block;
}

.sidebar a:hover,
.sidebar a:active {
  background-color: #0001;
}

.sidebar__title {
  margin:0;
}

.post--full p {
  max-width: 70ch;
  margin: auto;
  margin-top: 1rem;
}

.highlight {
  max-width: 70ch;
  margin: auto;
  background-color: #444;
  color: var(--nav-text);
  overflow: auto;
  border-radius: 4px;
  border: 1px solid #222;
}

.gutter {
  background-color: #fff1;
  padding: 1ch;
}


.keyword {
  color: #FF77aa;
}

.attr {
  color: #99f;
}

.string {
  color: #ffa;
}

.number {
  color: #afa;
}

hr {
  width: 90%;
  margin: 2rem auto;
  display: block;
}

.card-grid .post {
  max-width: 60ch;
  margin: 0.5rem auto;
  background-color: var(--card-bg);
  border: 1px solid var(--card-bg-dark);
}

.card-grid .author {
  padding-left: 1rem;
}

.card-grid .author__image {
  height: 30px;
  width: 30px;
  align-self: center;
}

.page {
  padding: 10px;
  background-color: var(--header-bg)
}

.card-grid--img {
  padding-left: 0;
}

.card-grid--img li {
  list-style: none;
}

.card {
  max-width: 400px;
  width: 90%;
  margin: 0.5rem auto;
  overflow: hidden;
  background-color: var(--card-bg);
  display: block;
  border-radius: 4px;
  border: 1px solid var(--header-bg-dark);
}

.card img {
  width: 100%;
}

.card__header {
  padding: 1ch;
  display: block;
}

@media only screen and (min-width: 1024px) {
  p {
    font-size: 1.15rem;
  }

  .cover__header {
    width: 90%;
    margin: auto;
  }

  .nav-item--desktop {
    display: inline;
    padding-left: 1ch;
    color: var(--text);
  }

  .nav-item:hover {
    background-color: var(--cover-bg);
  }
  
  .nav-item:hover svg,
  .nav-item:hover .nav-item--desktop {
    color: var(--primary-text);
    fill: var(--primary-text);
  }

  .post--full h1,
  .post--full h2,
  .post--full h3,
  .post--full h4,
  .post--full h5,
  .post--full h6 {
    margin-left: 2rem;
  }

  body {
    display: grid;
    grid-template-columns: 1fr min-content;
  }

  .cover,
  .nav,
  .footer {
    grid-column: 1/3;
  }
  
  .sidebar {
    align-self: flex-start;
    margin: 1rem;
    border-radius: 4px;
    position: sticky;
    top: 100px;
    border: 1px solid var(--card-bg-dark);
    padding: 1rem;
    min-width: 300px;
  }

  .sidebar a {
    padding: 0.5rem;
  }

  .card-grid {
    display: grid;
    padding: 1rem;
    grid-gap: 1rem;
    gap: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(30ch, 1fr));
    grid-auto-rows: minmax(150px, auto);
    align-items: flex-start;
  }

  .card-grid .post {
    width: 90%;
    margin: 0 auto;
  }
}
