*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-display: swap;
}

html {
    --bg: #111;
    --bg-d1: #222;
    --bg-d2: #333;

    --text-color: #aaa;
    --text-color-i1: #ccc;
    --text-color-i2: #fff;

    --primary: #fd0;
    --primary-darker: #ff6600;
    --primary-lighter: #fe4;
    --primary-o-75: #ffdd004b;
    --primary-o-50: #ffdd0036;
    --primary-o-25: #ffdd0019;

    --primary-l-75: hsl(52, 100%, 60%);
    --primary-l-50: hsl(52, 100%, 70%);
    --primary-l-25: hsl(52, 100%, 80%);

    --accent: #add;
    --accent-darker: #5ad;
    --accent-lighter: #cdf;
    --accent-on-dark: var(--accent-lighter);
    --accent-on-light: var(--accent-darker);

    --text-on-primary: #000;

    --serif: "Libre Baskerville", serif;
    --sans-serif: "Montserrat", sans-serif;
    --monospace: "Source Code Pro", monospace;
    --focus-color: var(--accent-darker);
}

*:-moz-focusring {
    outline: none;
}

:focus {
    outline: none;
}

:target {
    animation: targeted 10s;
}

@keyframes targeted {
    from {
        background-color: #3adf;
        color: #fafafa;
    }
    to {
        background-color: #3ad0;
        color: initial;
    }
}

br {
    display: none;
}

img {
    pointer-events: none;
}

table img {
    max-width: 100%;
}

cite {
    font-style: unset;
}

body {
    background-color: var(--bg);
    color: var(--text-color);
    min-height: 100vh;
    font-family: var(--sans-serif), "Noto Emoji", sans-serif;
}

/* Styling for broken images with alt text */

img {
    font-family: var(--sans-serif);
    text-align: center;
    position: relative;
    display: inline-flex;
    background-color: var(--bg-d2);
    line-height: 2;
}

img::before {
    content: '';
}

a {
    color: var(--text-color);
    text-decoration: underline;
    text-decoration-color: var(--primary-darker);
}