*,
*::before,
*::after {
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-display: swap;
    transition: all 300ms;
}

*:-moz-focusring {
    outline: none;
}

:focus {
    outline: none;
}

html {
    font-family: "Libre Baskerville", serif;
    font-size: 16px;
    background-color: #111;
    color: #aaa;
    line-height: 2;

    --background: #111;

    --primary-dark: #d9c126;
    --primary: #fd0;
    --primary-light: #e8da7d;

    --accent-green-dark: #98d926;
    --accent-green: #a2ff00;
    --accent-green-light: #c1e87d;

    --accent-orange-dark: #d96826;
    --accent-orange: #ff5e00;
    --accent-orange-light: #e8a47d;

    --secondary-color: #aaa;
    --text-color: #ddd;
    --heading-color: #fff;

    --link-color: var(--accent-orange-light);

    --heading-font: "Vidaloka", serif;
    --body-font: "Libre Baskerville", serif;
    --ui-font: "Montserrat", sans-serif;
    --code-font: "Source Sans Pro", monospace;
}

h1, h2, h3,
h4, h5, h6 {
    line-height: 1.25;
}

a {
    color: var(--link-color);
    text-decoration: none;
    border-bottom: 1px dashed var(--link-color);
}

a:not([class]):hover {
    opacity: 0.5;
}

a:not([class]):focus {
    background-color: var(--accent-orange-light);
    color: var(--background);
    box-shadow: 0 0 0 3px var(--accent-orange-light);
}

/*
	Improved screen reader only CSS class
	@author Gaël Poupard
		@note Based on Yahoo!'s technique
		@author Thierry Koblentz
		@see https://developer.yahoo.com/blogs/ydn/clip-hidden-content-better-accessibility-53456.html
	* 1.
		@note `clip` is deprecated but works everywhere
		@see https://developer.mozilla.org/en-US/docs/Web/CSS/clip
	* 2.
		@note `clip-path` is the future-proof version, but not very well supported yet
		@see https://developer.mozilla.org/en-US/docs/Web/CSS/clip-path
		@see http://caniuse.com/#search=clip-path
		@author Yvain Liechti
		@see https://twitter.com/ryuran78/status/778943389819604992
	* 3.
		@note preventing text to be condensed
		author J. Renée Beach
		@see https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
		@note Drupal 8 goes with word-wrap: normal instead
		@see https://www.drupal.org/node/2045151
		@see http://cgit.drupalcode.org/drupal/commit/?id=5b847ea
	* 4.
		@note !important is important
		@note Obviously you wanna hide something
		@author Harry Roberts
		@see https://csswizardry.com/2016/05/the-importance-of-important/
*/

.sr-only {
	border: 0 !important;
	clip: rect(1px, 1px, 1px, 1px) !important; /* 1 */
	-webkit-clip-path: inset(50%) !important;
		clip-path: inset(50%) !important;  /* 2 */
	height: 1px !important;
	margin: -1px !important;
	overflow: hidden !important;
	padding: 0 !important;
	position: absolute !important;
	width: 1px !important;
	white-space: nowrap !important;            /* 3 */
}

/*
	Use in conjunction with .sr-only to only display content when it's focused.
	@note Useful for skip links 
	@see http://www.w3.org/TR/2013/NOTE-WCAG20-TECHS-20130905/G1
	@note Based on a HTML5 Boilerplate technique, included in Bootstrap
	@note Fixed a bug with position: static on iOS 10.0.2 + VoiceOver
		@author Sylvain Pigeard
		@see https://github.com/twbs/bootstrap/issues/20732
*/
.sr-only-focusable:focus,
.sr-only-focusable:active {
	clip: auto !important;
	-webkit-clip-path: none !important;
		clip-path: none !important;
	height: auto !important;
	margin: auto !important;
	overflow: visible !important;
	width: auto !important;
	white-space: normal !important;
}

a:not([class]):hover {
    opacity: 0.75;
    border-bottom-style: solid;
}

a:focus {
    box-shadow: 0 0 0 5px var(--accent-blue);
}

img {
    max-width: 100%;
}

address {
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;
}

.banner {
    text-align: center;
    padding: 1rem;
}

.nav-list {
    list-style: none;
    padding: 0;
}

.nav-item {
    display: inline;
}

.nav {
    display: inline-block;
    padding: 0.5rem;
    border: none;
    font-family: var(--ui-font);
    color: var(--heading-color);
    text-transform: uppercase;
    letter-spacing: calc(1em * 0.25);
}

.nav:hover {
    color: var(--accent-orange-light);
}

.nav:focus {
    color: var(--background);
    background-color: var(--accent-green-light);
}

.site-logo {
    border: none;
    display: inline-block;
    padding: 1rem;
}

.site-logo:hover {
    opacity: 0.5;
}

.site-logo:focus {
    background-color: var(--accent-green-dark);
}

.site-logo:focus img {
    filter: grayscale(1);
}

.post {
    max-width: 80%;
    width: auto;
    margin: auto;
    padding: 1rem;
}

@media (min-width: 350px) {
    .post:nth-child(even) {
        margin-left: auto;
        text-align: right;
    }

    .post {
        margin: 1rem;
    }

    .post__excerpt {
        width: 60%;
        margin-left: auto;
    }

    .post:nth-child(even) .post__excerpt {
        margin: initial;
        margin-right: auto;
        text-align: left;
    }
}

.post__header h2 {
    font-size: 12px;
}

.post__title {
    color: var(--heading-color);
    font-family: var(--heading-font);
    border: none;
    letter-spacing: normal;
    font-size: 3em;
    font-weight: normal;

    text-overflow: clip;
    overflow-wrap: break-word;
}

.post__title:hover {
    color: var(--accent-orange);
}

.post__title:focus {
    color: var(--background);
    background-color: var(--primary);
    box-shadow: 0 0 0 3px var(--primary);
}

.post__excerpt {
    min-width: 100px;
    text-indent: 2rem;
}