<%- partial('_partial/header', {title: 'This page is under construction'}) %>
<div class="blog-post--full">
    <p>Sorry about that. In the meantime, you can browse other posts in this blog through the <a href="/<%= config.archive_dir %>">Antares archives</a>. Or like the <a href="https://facebook.com/antaresprogramming" target="_blank">Antares Facebook page</a>.</p>
</div>
