<div class="page">
    <h1 class="post__title">
        <a href="<%- config.root %><%- page.path %>">
            <%- page.title || page.link %>
        </a>
    </h1>
    <section class="post post--full">
        <%- page.content %>
    </section>
</div>