<main class="index" aria-label="Content">
    <section class="section section--meta">
        <% const posts = (page.posts.data) %>
        <header class="section__heading">
            <h1>Posts tagged <span class="tag">#<%- page.tag %></span></h1>
        </header>

        <div class="card-grid">
            <% posts.forEach(item => { %>
                <%- partial('_partial/archive', {item: item, is_featured: false}) %>
            <% }) %>
        </div>
    </section>

    <section class="section section--categories">
        <%- partial('_widget/categories.ejs') %>
        <%- partial('_widget/tags.ejs') %>
    </section>
</main>
