<section class="search-view noscript">
  <button class="close js-close-search"></button>
  <article class="search-box">
    <input
      placeholder=" "
      type="search"
      class="search__input"
      id="search-input"
    />
    <label for="search-input" class="search__label">Search...</label>
  </article>
  <ul class="search-results">
  </ul>
</section>
<script>
  // for accessibility and usability purposes
  // will remove the .noscript class if JavaScript is enabled
  document.querySelector(".noscript").classList.remove("noscript");

  const closeButton = document.querySelectorAll(".js-close-search");

  closeButton.forEach(button =>
    button.addEventListener("click", e => {
      document.querySelector("body").classList.toggle("search-open");
    })
  );
</script>
