<aside lang="en" class="sidebar">
  
  <section class="sidebar-wrapper">
    <details>
      <summary>
        <h4 class="sidebar__title">In this post...</h4>
      </summary>
      <%- toc(page.content) %>
    </details>
  </section>

</aside>