<h1 class="sr-only">Antares Programming</h1>
<main id="main-content" class="layout layout--index">
    <% 
        page.posts.each(function(item){ 
    %>
        <%- partial('_partial/article-excerpt', {item: item, is_featured: false, with_excerpt: true}) %>
    <% }); %>
</main>
<%- partial('_partial/sidebar', null, {cache: !config.relative_link}) %>