<main>
    <h1 class="sr-only">Antares Programming</h1>
    <% 
        const featuredArticles = [];
        page.posts.each(function(item) {
            if(item.is_featured) featuredArticles.push(item) })
    %>
    <%- partial('_partial/article-featured', {item: featuredArticles[0], is_featured: true}) %>

    <% 
        page.posts.each(function(item){ 
    %>
        <%- partial('_partial/article-excerpt', {item: item, is_featured: false, with_excerpt: true}) %>
    <% }); %>
    <%- partial('_partial/sidebar', null, {cache: !config.relative_link}) %>

</main>