<header class="header">
  <a href="<%- config.root %>">
    <img src="<%- config.root + 'images/logov3.svg' %>" alt="" />
  </a>
</header>
<nav class="navbar">
  <ul class="nav-list">
    <li class="nav-item nav-active"><a class="nav" href="<%- config.root + theme.menu.Home %>">Home</a></li>
    <li class="nav-item"><a class="nav" href="<%- config.root + theme.menu.Archives %>">Archives</a></li>
    <li class="nav-item"><a class="nav" href="#search">Search</a></li>
    <li class="nav-item pull-right"><a role="button" tabindex="0" class="nav">Enable dark mode</a></li>
  </ul>
</nav>
