<header class="header">
  <a href="<%- config.root %>">
    <svg style="isolation:isolate" viewBox="0 0 736.27 212">
      <defs>
        <clipPath id="_clipPath_nUL2ZRKaW0HCfTF6AbA3RSGwjZDAulxX">
          <rect width="736.27" height="212"/>
        </clipPath>
      </defs>
      <g clip-path="url(#_clipPath_nUL2ZRKaW0HCfTF6AbA3RSGwjZDAulxX)">
        <rect width="736.27" height="212" style="fill:rgb(250,250,250)" fill-opacity="0"/>
        <g>
          <g transform="matrix(3.392,0,0,3.392,0,0)">
            <text transform="matrix(1,0,0,1,0,45)" style="font-family:'League Spartan';font-weight:400;font-size:50px;font-style:normal;fill:var(--text-color);stroke:none;">antares</text>
          </g>
          <g>
            <circle vector-effect="non-scaling-stroke" cx="715.7119999999998" cy="79.11695537948526" r="20.351999999999975" fill="rgb(255,221,0)"/><path d=" M 695.36 129.997 C 671.616 115.328 704.479 109.645 715.712 109.645 C 726.945 109.645 737.941 118.922 736.064 129.997 Q 733.52 145.008 708.928 160.272 Q 713.116 140.966 695.36 129.997 Z " fill="rgb(255,221,0)"/>
          </g>
        </g>
      </g>
    </svg>
  </a>
</header>
<nav class="navbar">
  <ul class="nav-list">
    <li class="nav-item nav-active"><a class="nav" href="<%- config.root + theme.menu.Home %>">Home</a></li>
    <li class="nav-item"><a class="nav" href="<%- config.root + theme.menu.Archives %>">Archives</a></li>
    <li class="nav-item"><a class="nav" href="#search">Search</a></li>
    <li class="nav-item pull-right"><a role="button" tabindex="0" class="nav">Enable dark mode</a></li>
  </ul>
</nav>
